@page { size: A4; margin: 10mm 0 10mm 0; }
      
body.A4 .sheet {
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
}

.sheet .padding-10mm {
    padding: 10mm 25mm;
}

@media print {
    .sheet .padding-10mm {
        padding: 15px 25mm;
    }
}

.corporate {
    letter-spacing: 0.8px;
}

.bold {
    border: 1px solid #000;
    margin-bottom: 0;
}

.logo-agama {
    display: inline;
    float: left;
    width: 96px;
    margin-top: -15px;
}

.print-content {
    letter-spacing: 0.3px;
}

.print-content p {
    margin:4px 0 4px 0;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    margin-top:20px;
}

.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}

.myButton:active {
    position:relative;
    top:1px;
}

.table {
    border-collapse: collapse;
}

.table td {
    border: 1px solid black;
    border-spacing: 0;
}

@media print {
    .myButton {
        display: none;
    }
}