body { background:none }
.sheet {
    background:none;
    box-shadow: none;
    margin: 0;
}

body.A3.landscape { width: 420mm }
body.A3, body.A4.landscape { width: 297mm }
body.A4, body.A5.landscape { width: 210mm }
body.A5                    { width: 148mm }
body.A7                    { width: 74mm }
body.A6                    { width: 105mm }

.myButton {
    display: none;
}

body { margin: 0; font-family: "Helvetica"; }