@font-face {
    font-family: 'Bookman';
    src: url('../../fonts/bookman.ttf');
}

body {
    font-family: "Bookman";
}

.butir {
    width: 100%;
    text-align: justify;
    page-break-inside:auto;
}

.butir td {
    padding-bottom: 10px;
}

.butir tr {
    page-break-inside: avoid;
    page-break-after:auto;
}

.point {
    vertical-align: top;
    width: 25%;
}

.point:after {
    content:":";
    float:right;
}

.butir ol {
    margin-top:0;
    padding-left:20px;
    padding-bottom: 0;
}

body.A4 .sheet {
    height:100%;
}